<html>
  <body>
    <h1 style="color: #4dd290">Getit</h1>
    <div>
      <p style="color: black">회원 가입을 위한 인증번호 입니다.</p>
      <p style="color: black">
        아래의 인증 번호를 입력하여 인증을 완료해주세요.
      </p>
      <h2
        style="
          background-color: #f2f2f2;
          width: fit-content;
          padding: 0.3rem 0.6rem;
        "
      >
        <%= authCode %>
      </h2>
    </div>
  </body>
</html>
